// === Font === //
$font-body: "Open Sans", sans-serif;

// === Font Weight === //
$font-weight: (
  normal: 400,
  medium: 600,
  bold: 700,
);

// == Breakpoints === //
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px,
);

// === Colors === //
$colors: (
  white: #fff,
  black: #000,
  default-color: #2bbbad,
  default-color-dark: #00695c,
  primary-color: #0d6efd,
  primary-color-dark: #0b5ed7,
  secondary-color: #6c757d,
  secondary-color-dark: #5c636a,
  danger-color: #dc3545,
  danger-color-dark: #bb2d3b,
  warning-color: #ffc107,
  warning-color-dark: #ffca2c,
  success-color: #198754,
  success-color-dark: #157347,
  info-color: #0dcaf0,
  info-color-dark: #31d2f2,
);

// === z-index === //
$zindexs: (
  dropdown: 1000,
  sticky: 1020,
  fixed: 1030,
  modal-backdrop: 1040,
  modal: 1050,
  popover: 1060,
  tooltip: 1070,
);

// === Typography === //
$font-size-base: 0.875rem !default; // 14px
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

$h-font-size: (
  h1: $font-size-base * 2.5,
  h2: $font-size-base * 2,
  h3: $font-size-base * 1.75,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base,
);
