.modal {
  @include pxRem(height, 240);
  @include pxRem(width, 600);
  @include pxRem(border-radius, 6);
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.35s ease-in;
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    height: 100%;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    flex-basis: 33.333%;
    border-bottom: 1px solid #dee2e6;
    @include pxRem(padding, 20);
  }
  &-body {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 33.333%;
    @include pxRem(padding, 20);
  }
  &-footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 33.333%;
    @include pxRem(padding, 20);
    border-top: 1px solid #dee2e6;
  }
}

.modal-active {
  top: 50px;
  transition: all 0.35s ease-out;
}
